Flask
Django
djangorestframework
django-cors-headers

numpy
pandas
scipy
scikit-learn
matplotlib
seaborn

torch
torchvision
mediapipe
opencv-python
deepface
mtcnn
ultralytics

google-api-core
google-cloud-core
google-cloud-storage
google-cloud-logging

requests
beautifulsoup4
redis
psycopg2-binary
PyYAML
